@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background:#f3f4f6;
  font-family: sans-serif;
}

@keyframes gradient-x {
  0%, 100% { background-size: 200% 200%; background-position: left center; }
  50% { background-size: 200% 200%; background-position: right center; }
}

.animate-gradient-x {
  animation: gradient-x 6s ease infinite;
}

@keyframes gradient-x {
  0%, 100% { background-size: 200% 200%; background-position: left center; }
  50% { background-size: 200% 200%; background-position: right center; }
}
a {
  text-decoration: none !important;
}